DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=crm_user
DATABASE_PASSWORD=change-me
DATABASE_NAME=crm_db
NODE_ENV=production
PORT=3000
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=https://app.crmpodrukoy.ru
