{
  email {$ACME_EMAIL}
}

{$LANDING_DOMAIN} {
  encode zstd gzip

  reverse_proxy landing:80
}

{$APP_DOMAIN} {
  encode zstd gzip

  reverse_proxy frontend:80
}

{$API_DOMAIN} {
  encode zstd gzip

  reverse_proxy backend:3000
}
